
<div class="brand-holder ml-3">
  <img src="./../../../assets/images/imgBrand.svg" alt="Audaces Brand">
</div>

<div class="my-3 ml-3">
  <span style="font-size: 20px; font-weight: 500;"> Roboto-Medium 20px </span>
  <br>
  <span style="font-size: 14px; font-weight: 300;"> Roboto Regular 14px </span>
</div>

<ul class="nav-menu">

  <li class="nav-item active pl-3">
    <a href="#">
      <mat-icon> home </mat-icon>
      <label> Teste Audaces </label>
    </a>
  </li>

  <li class="nav-item pl-3">
    <a href="#">
      <mat-icon> insert_chart </mat-icon>
      <label> Exemplo 1 </label>
    </a>
  </li>


  <li class="nav-item pl-3">
    <a href="#">
      <mat-icon> extension </mat-icon>
      <label> Exemplo 2 </label>
    </a>
  </li>


  <li class="nav-item pl-3">
    <a href="#">
      <mat-icon> filter </mat-icon>
      <label> Exemplo 3 </label>
    </a>
  </li>

</ul>
