<div class="row">
  <div class="col-12">
    <h1> Brand </h1>
  </div> <!-- ./COL -->
</div> <!-- ./ROW -->

<div class="row">
  <div class="col-12">
    <span style="font-size: 20px; font-weight: 500;"> Roboto-Medium 20px </span>
    <br>
    <span style="font-size: 14px; font-weight: 300;"> Roboto Regular 14px </span>
  </div> <!-- ./COL -->
</div> <!-- ./ROW -->

<div class='nav'>
  <ul>
    <li class="nav-item">
      <mat-icon> home </mat-icon>
      <span> Teste Audaces </span>
    </li>
    <li class="nav-item">
      <mat-icon> insert_chart </mat-icon>
      <span> Exemplo 1 </span>
    </li>
    <li class="nav-item">
      <mat-icon> puzzle </mat-icon>
      <span> Exemplo 2 </span>
    </li>
    <li class="nav-item">
      <mat-icon> filter </mat-icon>
      <span> Exemplo 3 </span>
    </li>
  </ul>
</div>





