$frontend-test-light-primary: mat-palette($mat-pink);
$frontend-test-light-accent: mat-palette($mat-teal, 800, 700, 900);
$frontend-test-light-warn: mat-palette($mat-red);

$frontend-test-light-theme: mat-light-theme((
  color: (
    primary: $frontend-test-light-primary,
    accent: $frontend-test-light-accent,
    warn: $frontend-test-light-warn,
  )
));

.light-theme {
  @include angular-material-theme($frontend-test-light-theme);

  mat-sidenav {
    background-color: #2F2F2F !important;
    box-shadow: 0px 3px 12px #00000029;
  }

  .mat-drawer-container {
    background-color: #fff !important;
  }

  .mat-form-field-flex,
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button {
    color: #e4e4e4;
  }

  .mat-form-field-flex {
    background-color: #EAEAEA !important;
  }

  .mat-button,
  .mat-icon-button {
    background-color: transparent !important;
  }

  mat-card {
    background-color: #fff !important;
    color: #000000BF !important;
  }

  mat-card.no-shadow{
    box-shadow: none;
  }

  .mat-button.mat-primary,
  .mat-icon-button.mat-primary,
  .mat-stroked-button.mat-primary {
    color: #e4e4e4;
  }

  label,
  .mat-form-field-label-wrapper {
    color:  #000000BF;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color:  #e4e4e4;
  }

  .mat-form-field-ripple,
  .mat-form-field.mat-focused .mat-form-field-ripple,
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
  }

  .mat-form-field {
    border-color: transparent !important;
  }

  .mat-form-field-underline::before,
  .mat-form-field-underline::after {
    background-color: transparent !important;
  }

  .mat-select-panel,
  .mat-flat-button.mat-accent,
  .mat-raised-button.mat-accent,
  .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent {
    background-color: #eaeaea !important;
    color:  #000 !important;
  }

  button.light mat-icon {
    color: #FF96C7;
  }

  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    background-color: #e63a8a !important;
    color:  #fff !important;
  }

  .nav-menu .nav-item {
    background-color: transparent;
    transition: background-color .25s ease-in-out;
    padding-left: 32px;
  }

  .nav-menu .nav-item.active {
    background-color: #ffb7d933;
    transition: background-color .25s ease-in-out;
    color: #e63a8a;
  }

  .nav-menu .nav-item:hover{
    background-color: #ffb7d91f;
    transition: background-color .25s ease-in-out;
  }

  .mat-drawer {
    background-color: #fff !important;
    color: #000000bf;
  }

  .mat-drawer-side{
    border: none;
  }

  .brand-holder img {
    filter: invert(79%) sepia(13%) saturate(5866%) hue-rotate(-62deg) brightness(173%) contrast(95%)
  }

  input {
    color: #000 !important;
  }
}

.light-theme.content-wrapper {
  background-color: #fff;
}
