<div class="content-wrapper {{themeAplied}}">
  <mat-sidenav-container class="container p-0" [hasBackdrop]="sidenavMobile">
    <mat-sidenav #sidenav mode="side"
      [(opened)]="sidenavOpened"
      (opened)="sidenavEvents.push('open!')"
      (closed)="sidenavEvents.push('close!')">
      <app-navbar></app-navbar>

      <div class="to-bottom">
          <ul class="nav-menu">
            <li class="nav-item pl-3">
              <mat-icon> settings_brightness </mat-icon>
              <label (click)="updateTheme()"> Trocar de Tema </label>
            </li>
            <li class="nav-item pl-3">
              <mat-icon> account_circle </mat-icon>
              <label> Username </label>
            </li>
          </ul>
      </div>

    </mat-sidenav>
    <mat-sidenav-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">

      <div fxLayout="column" fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" >

        <button mat-raised-button fxHide fxHide.xs="false" fxHide.sm="false" (click)="sidenav.toggle()" style="margin-left: -12px; border-radius: 0">
          <mat-icon> menu </mat-icon>
        </button>

        <app-form-field></app-form-field>

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex.xs="100%" fxFlex.sm="100%" class="flex-full">
          <app-contact-field class="w-100"></app-contact-field>
          <app-social-field class="w-100"></app-social-field>
        </div>
      </div>

      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
        <app-right-field></app-right-field>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
