app-root {
  width: 100vw;
}

app-contact-field {
  width: 100%;
  height: 100%;
}

app-social-field {
  width: 100%;
  height: 100%;
}

app-right-field {
  width: 100%;
  height: 100%;
}

.to-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-full {
  flex: auto;
  flex-grow: 1;
}
