.top-right-position {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
}
.top-left-position {
  position: absolute;
  top: 24px;
  left: 24px;
  margin: 0;
  padding: 0;
}
.super-text {
  font-size: 34px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 8px !important;
}

.img-bg {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("./../../../assets/images/imgSocial.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 282px !important;
  height: 100%;
}
