
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import './theme/dark-theme.scss';
@import './theme/light-theme.scss';
@import './theme/responsive-mobile.scss';
@import './theme/responsive-tablet.scss';
@import './theme/responsive-md-devices.scss';
@import './theme/responsive-lg-devices.scss';
@import './theme/responsive-xl-devices.scss';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  width: 100vw;
}

mat-sidenav {
  height: 100vh;
  width: 250px !important;
  max-width: 250px !important;
}

mat-sidenav-content {
  height: auto !important;
  max-height: 100vh;
  overflow: auto;
}

.left-label {
  display: flex;
  margin: 7px 4px;
}

button {
  bottom: 6px;
}

.dark-theme .mat-input-element {
  caret-color: transparent !important;
  border-color: transparent !important;
  color: transparent !important;
}


app-right-field {
  height: 100%;
}

mat-card {
  margin: 15px;
  min-height: auto !important;
}

app-form-field mat-card {
  min-height: 130px;
}

app-contact-field, app-social-field {
  min-height: 280px;
}

app-contact-field, app-social-field {

}
